.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pe-5 {
  padding-right: 3rem!important;
}

.pb-4 {
  padding-bottom: 1.5rem!important;
}

@media (min-width:992px) {
  .py-lg-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

